# Database configuration

## JDBC URL for PostgreSQL database
### Format: jdbc:postgresql://host:port/database
Example (default): DB_URL=jdbc:postgresql://localhost:5432/bankcards

## Database username
Example (default): DB_USER=bankcards

## Database password
Example (default): DB_PASSWORD=bankcards

--------------------------------------------------------------------------

# Security configuration

## Secret key for JWT token signing
[ IMPORTANT: change this value in production! ]

(Be aware of writing 32 bite (1 symbol = 1 bite) jwt secret code to avoid 'WeakKeyException' error)
Example: JWT_SECRET=change-me-with-your-original-secret-key-in-environment-variables (openssl rand -base64 125 in git Bash)

## Token expiration time in milliseconds (1 hour = 3600000)
Example (default): JWT_EXPIRATION=3600000

--------------------------------------------------------------------------

# Server configuration (optional)

## Application port
Example (default)=8081